
body{
	background:url(../picture/1.jpg);
	background-repeat:no-repeat;
	background-size:100% auto;
}
#login_box{
	width:20%;
	height:400px;
	background:#00000060;
	margin:auto;
	margin-top:10%;
	text-align:center;
	border-radius:10px;
	padding:50px 50px;
}
#login_box h2{
	color:#FFFFFF90;
	margin-top:5%;
}

#login_box #form #input_box #input_checknox{
	
	margin-top: 5%
}
#input_checknox{
	matgin-left:-20%;
}

#login_box #form #input_box i{
	color:#FFFFFF;
}

#login_box #form #input_box input{
	border:0;
	width:60%;
	font-size:15px;
	color:#FFFFFF;
	background:#FFFFFF00;
	border-bottom:2px solid #FFFFFF;
	padding: 5px 10px;
	margin-top:10px;
}

#login_box button{
	
	margin-top:50px;
	width:40%;
	height:20px;
	border-radius:10px;
	border:0;
	color:#FFFFFF;
	font-size:15px;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

#login_box #Sign{
	margin-top:30%;
	margin-left:60%;
}
#login_box #Register{
	margin-top:10%;
	margin-left:0;
}
#login_box #Register a{
	color:#0000ff;
	text-decoration:none
	
}
#login_box #Sign a{
	color:#DB1010;
	text-decoration:none
}